{% extends 'base.html' %}
{% load static %}

{% block title %}¿Quién soy yo?{% endblock %}

{% block content %}
<div class="profile-container">
    <img src="{% static 'img/yo.jpg' %}" alt="Mi foto">
    <div>
        <p><strong>HOLAAAAAAA, MIREN SOY YO</strong></p>
        <p>Me llamo E%##$%"=?. Compartir mi nombre en línea es peligroso.</p>
        <p>Lo que sí les puedo decir es que soy un estudiante de la poderosa ESCOM (Escuela Superior de Cómputo) estudiando Licenciatura en Ciencia de Datos. Si me está gustando mucho mi carrera y sí la recomiendo, pero cuando la termine, para que no tengan materias de relleno y sí materias importantes, como liderazgo personal.</p>
    </div>
</div>
{% endblock %}
