{% extends 'base.html' %}
{% load static %}

{% block title %}Mascota 1{% endblock %}

{% block content %}
<div class="profile-container">
    <img src="{% static 'img/frieren.jpg' %}" alt="Mona">
    <div>
        <p><strong>Frieren: Beyond Journey's End</strong></p>
        <p>La primera temporada del anime "Frieren: Más allá del final del viaje" adapta los primeros arcos del manga y se centra en el viaje de Frieren tras la disolución del grupo de héroes. La historia explora temas de pérdida, amistad y el significado del tiempo desde la perspectiva de una elfa inmortal.</p>
        <p>El anime combina momentos tranquilos, reflexivos y emotivos con elementos de aventura y fantasía. La animación resalta paisajes hermosos y utiliza silencios para enfatizar el tono melancólico de la historia. La música contribuye a la sensación de nostalgia y contemplación, destacando la profundidad emocional de los personajes.<p>
    </div>
</div>
{% endblock %}