{% extends 'base.html' %}
{% load static %}

{% block title %}Mascota 1{% endblock %}

{% block content %}
<div class="profile-container">
    <img src="{% static 'img/mascota2.jpg' %}" alt="luna">
    <div>
        <p><strong>Holaaa me llamo Luna</strong></p>
        <p>Porque me pusieron ese nombre? Por mi hermana, ya que soy completamente lo opuesta a ella. Soy una perrita muy muy tranquila y me gusta mucho que me acariecen. Yo si soy mas delicada en la comida y no me gustan las servilletas, yo prefiero mucho mas las tortillas bien cocidas. Me gusta estar pegado a mi papa, si el va al baño yo me quedo afuera de la puerta esperandolo aunque se tarde 1 hora.</p>
        <p>Yo soy un labrador retreiver asi que como pueden ver tengo unas orejas muy muy grandes jijijij<p>
    </div>
</div>
{% endblock %}