{% extends 'base.html' %}
{% load static %}

{% block title %}Mascota 1{% endblock %}

{% block content %}
<div class="profile-container">
    <img src="{% static 'img/mascota1.jpg' %}" alt="Mona">
    <div>
        <p><strong>Holaaa me llamo Mona</strong></p>
        <p>Porque mis padres me pusieron mona? La verdad ni yo se, me ecoontraron en la calle con mis herman@s y me adoptaron de una señora almena rara.</p>
        <p>Soy una perrita MUY MUY expresiva y tambien un poco delicada, como casi de todo y las servillas son mi platillo favorito. Soy una combinacion entre un border collie y otro perro cual no sabemos, solo sabemos que mi mami era una border collie. Como ya vieron me falta mas pelo de lo normal para una border collie y tambien unos cuantos focos pero si soy muy inteligente para molestar a mis padres para que me den de comer<p>
    </div>
</div>
{% endblock %}
